:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-decoration-light: #cfcfbc;
    --color-border-light: #A28268;
    --color-body-background: #FAF4EA;
}