/* Button */
.button {
    display: block;
    padding: 16px 32px;
    border-radius: 8px;
    border: 2px solid #819B57;
    background: var(--color-brand-light);
    color: var(--color-primary-light);
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/* .button:disabled {
    color: gray;
    background-color: lightgray;
    border-color: currentColor;
    cursor: not-allowed;
} */


/* Carousel-button */

.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    flex-shrink: 0;
    padding: 0;
}

.formats-arrow {
    fill: var(--color-primary-dark);
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
}

.carousel-button:hover .formats-arrow {
    fill: var(--color-primary-light);
}

.carousel-button.next {
    transform: rotate(180deg);
}