/* Chef section */

.chefs-title {
    margin: 0 auto 80px;
    position: relative;
}

.chefs-title::before,
.chefs-title::after {
    display: block;
    width: 352px;
    border: 2px solid var(--color-decoration-light);
    content: '';
    position: absolute;
    bottom: 24px;
}

.chefs-title::before {
    left: 0;
}

.chefs-title::after {
    right: 0;
}

.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.chefs-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 #FAF4EA, -16px 16px 0 2px var(--color-border-light);
}