/* Chef section */
.chefs-section {
  &__title {
    margin: 0 auto 80px;
    position: relative;

    &::before,
    &::after {
      display: block;
      width: 352px;
      border: 2px solid var(--color-decoration-light);
      content: '';
      position: absolute;
      bottom: 24px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}


.chef-card {
  display: flex;
  gap: 30px;

  &__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow:
      -16px 16px 0 0 #faf4ea,
      -16px 16px 0 2px var(--color-border-light);
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text p {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
