/* Contact section */

.contact-section {
  padding-bottom: 96px;

  &__title {
    margin-bottom: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen  and (min-width: $bp-tablet) {
    flex-direction: row;
    gap: 32px;
    }
  }

  &__map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
    margin: 0 -24px;
    height: 176px;

    @media screen  and (min-width: $bp-tablet) {
    width: 320px;
    height: 500px;
    margin: auto;
    }

     @media screen  and (min-width: $bp-desktop) {
    width: 600px;
    height: 595px;
    }
  }
}
