.footer {
  text-align: center;
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

      @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__menu,
  &__address-list {
    flex-grow: 1;
  }

  &__logo {
    flex-grow: 1;
  }

  &__link,
  &__address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  &__icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-light);
    }
  }

  &__copyright {
    font-size: 14px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url('../images/small-buttons.png');
    width: 180px;
    height: 120px;
    left: 0;
  }

  &::after {
    background-image: url('../images/two-buttons.png');
    width: 380px;
    height: 190px;
    right: 0;
  }
}
