/* formats section */

.format-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
}

.format-text {
    font-weight: 300;
    font-size: 14px;
    color: var(--color-primary-light);
}

.formats-title {
    margin-bottom: 80px;
}

.format-card {
    position: relative;
    border: 1px solid lightblue;
    border-radius: 16px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color-primary-dark) 100%);
    height: 444px;
    box-shadow: 2px 2px 4px 4px rgb(103, 110, 91);
    transition: transform 0.7s;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.formats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}

.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}