/* Hero section */

.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(127deg, rgba(18, 18, 17, 0.78) 0%, rgba(18, 18, 17, 0.6) 63.89%, rgba(18, 18, 17, 0) 100%), url('../images/hero-fons.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}

.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--color-brand-light);
}