/* Hero section */

.hero-section {
  padding: 272px 0;
  background-image:
    linear-gradient(
      127deg,
      rgba(18, 18, 17, 0.78) 0%,
      rgba(18, 18, 17, 0.6) 63.89%,
      rgba(18, 18, 17, 0) 100%
    ),
    url('../images/hero-fons.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 67px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 1;

    @media screen and (min-width: $bp-desktop) {
      font-size: 128px;
      line-height: 1.5;
    }
  }
}

