.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    &__button {
        width: 12px;
        height: 12px;
        background-color: var(--color-border-light);
        border-radius:50%;

        &--active{
            background-color: var(--color-pagination-green);
        }

    }
}