:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
}


/* Base */

body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

/* Button */
.button {
    border-radius: 8px;
    border: 2px solid #819B57;
    background: var(--color-brand-light);
    color: var(--color-primary-light);
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/* Link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
    line-height: 1.5;
}

.link:hover {
    color: var(--color-brand-light);
    font-weight: 600;
}

/* Hero section */
.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Tradition-sections */
.tradition-text .brand {
    color: var(--color-brand-light);
    font-weight: 600;
}

.tradition-text .uppercase {
    color: var(--color-brand-light);
    text-transform: uppercase;
}

/* Chef section */

.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* formats section */

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-weight: 300;
    font-size: 14px;
}

/* Footer */

.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright {
    font-size: 14px;
}